.content {
    padding: 0 20px;
    color: black;
}

.standAloneContent {
    padding: 200px 20px;
}

.innerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.whiteText {
    color: white;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.section {
    --clip-offset: 90px;
    --block-padding-y: 100px;

    position: relative;
    position: relative;
    padding: calc(var(--clip-offset) + var(--block-padding-y)) 30px;
    margin-bottom: calc(-1 * var(--clip-offset));
    clip-path: url(#waveClip1);
    overflow: hidden;

    &:nth-of-type(even) {
        clip-path: url(#waveClip2);
    }

    &.last {
        padding-bottom: var(--block-padding-y);
        margin-bottom: 0;
    }
}
