.root {
    align-items: center;
    background-color: #e0c5c0;
    display: flex;
    justify-content: center;
    flex: 1;
}

.carousel-container {
    position: relative;
    background-color: #fff;
    border-radius: 16px;
    height: 464px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: auto 20px;
    cursor: grab;
}

.container:active {
    cursor: grabbing;
}

.slides-container {
    display: flex;
    justify-content: center;
}

.slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    user-select: none;
}

.slide img {
    position: relative;
    pointer-events: none;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    object-fit: cover;
    transform-origin: bottom;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    will-change: transform;
}

.slide.active img {
    border: 10px solid cadetblue;
    transform: scale(1.2);
}

.nav-dots {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.nav-dots div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(104, 104, 104);
    margin: 0 3px;
}

.nav-dots .active {
    background-color: cadetblue;
}
