$nav-width: 300px;

.root {
    position: absolute;
    top: 0;
    left: 0;
    bottom: calc(100vh - 80px);
    width: $nav-width;
    z-index: 2;
    transition: bottom 0.1s ease-out 1s;

    &.open {
        bottom: 0;
        transition-delay: 0s;
    }

    button {
        outline: none;
        border: none;
        user-select: none;
        cursor: pointer;
        position: absolute;
        top: 18px;
        left: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: transparent;
    }

    ul {
        padding: 25px;
        position: absolute;
        top: 40px;
    }

    li {
        border: 2px solid white;
        border-radius: 40px;

        list-style: none;
        margin-bottom: 20px;
        cursor: pointer;

        a {
            display: block;
            color: white;
            padding: 7px 20px;
        }
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $nav-width;
    background: cadetblue;
}
